<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @piloto.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @piloto.cpf %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @piloto.nascimento %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @piloto.apelido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @piloto.email %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @piloto.celular %>
</p>

<%= link_to 'Edit', edit_piloto_path(@piloto) %> |
<%= link_to 'Back', pilotos_path %>
