<%= form_with(model: tracado, local: true) do |form| %>
  <% if tracado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracado.errors.count, "error") %> prohibited this tracado from being saved:</h2>

      <ul>
      <% tracado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :pista %>
    <%= form.text_field :pista %>
  </div>

  <div class="field">
    <%= form.label :imagem %>
    <%= form.text_field :imagem %>
  </div>

  <div class="field">
    <%= form.label :melhor_tempo %>
    <%= form.text_field :melhor_tempo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
